<div class="row text-center">
	<div class="col">
		<label>ФИО</label>
		<div><input type="text" /></div>
		
		<label>Адрес</label>
		<div><input type="text" /></div>

		<label>Телефон</label>
		<div><input type="text" /></div>

		<br />
		<a class="btn btn-dark" href="/order/Buy" role="button">Оформить заказ</a>
	</div>
</div>