<form method="post">
	<div class="row text-center">
		<div class="col">
			<label>ФИО</label>
			<div><input type="text" name="name" /></div>
		
			<label>Адрес</label>
			<div><input type="text" name="address" /></div>

			<label>Телефон</label>
			<div><input type="text" name="phone" /></div>

			<br />
			<button class="btn btn-dark" type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
		</div>
	</div>
</form>