<div class="col-3">
    <div class="row">
        <a href="/Admin/Orders">Заказы</a>
    </div>
    <div class="row">
        <a href="/Admin/Users">Пользователи</a>
    </div>
    <div class="row">
        <a href="/Admin/Roles">Роли</a>
    </div>
    <div class="row">
        <a href="/Admin/Products">Продукты</a>
    </div>
</div>