@model Registr

<form method="post">
	<div class="text-center">
		<h3>Регистрация</h3>
	</div>

	<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<label asp-for="UserName"></label><br />
			<input class="form-control" asp-for="UserName" />
			<span asp-validation-for="UserName" />
		</div>
		<div class="col"></div>
	</div>

	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<label asp-for="Password"></label><br />
			<input class="form-control" asp-for="Password" />
			<span asp-validation-for="Password" />
		</div>
		<div class="col"></div>
	</div>

	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<label asp-for="ConfirmPassword"></label><br />
			<input class="form-control" asp-for="ConfirmPassword" />
			<span asp-validation-for="ConfirmPassword" />
		</div>
		<div class="col"></div>
	</div>

	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<button type="submit" asp-controller="Account" asp-action="Registr">Зарегистрироваться</button>
		</div>
		<div class="col"></div>
	</div>
</form>